#root{
  width: 100%;
}

*{
  padding: 0;
  margin: 0;
}
body{
  /* overflow: hidden; */
}

a{
  color: inherit;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.App {
  /* min-width: 100%;
  min-height: 100vh; */
  height: 100vh;
  color: black;
  background-color:blanchedalmond;
  overflow: hidden;
  transition-duration: 1s;
}

.welcomeImages {
  height: 100vh;
  background: rgb(95, 123, 171);
  transition-duration: 1s;
}

.about {
  height: 100vh;
  background: rgb(41, 157, 134);
}

.info {
  height: 100vh;
  background: rgb(181, 106, 114);
}

.screen {
  height: 100vh;
  background-color: white;
  color: rgb(25, 25, 25);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: row;
}

.textInfo {
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.titlesBlock {
  /* background-color: chartreuse; */
  height: 15vh;
  margin-top: 100px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.title {
  cursor: pointer;
  padding-top: 20px;
  /* padding-bottom: 20px; */
}

.textBlock {
  height:100%;
  /* background-color: aquamarine; */
  color: rgb(62, 62, 62);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  overflow-y: auto;
  padding: 15px;
  transition-duration: 0.3s;
}

.imagesBlock {
  width: 100%;
  background-color: blueviolet;
  flex-grow: 1;
  flex-basis: 0;
  transition-duration: 0.6s;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  background-color: rgb(233, 130, 183);
  display: inline-block;
  flex-grow: 10;
}
/* 
.image2 {
  width: 100%;
  height: 100%;
  background-color: rgb(63, 255, 146);
  display: inline-block;
  margin-right: -100%;
}

.image3 {
  width: 100%;
  height: 100%;
  background-color: rgb(122, 207, 221);
  display: inline-block;
  margin-left: -100%;
} */

.dots {
  position: absolute;
  width: 100%;
  bottom: 5%;
  /* left: 50%;
  right: 50%; */
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
}

.dot {
  cursor: pointer;
  min-height: 15px;
  min-width: 15px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:rgb(200, 200, 200);
  border-radius: 50%;
  display: block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:rgb(40, 40, 40);
}

.inputText {
  color: rgb(150, 150, 150);
  font-size: 14px;
  font-weight: lighter;
  padding: 2px;
  cursor: default;
}

input[type=text] {
  min-width: 50px;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(200, 200, 200);
  background-color:white;
  font-weight: bolder;
  transition-duration: 0.3s;
}

input[type=text]:focus {
  border: none;
  border-bottom: 2px solid rgb(40, 40, 40);
}

input[type=date], input[type=time] {
  /* height: 30px; */
  border: none;
  border-bottom: 2px solid rgb(200, 200, 200);
  background-color:white;
  font-weight: bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition-duration: 0.3s;
  color: rgb(40, 40, 40);
}

/* input:invalid:focus {
  border-color: rgb(200, 0, 0);
} */

.bookingFormBlock {
  padding: 20px 60px;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  /* align-self:flex-end; */
  row-gap: 15px;
}

.namesBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 30px; 
  flex-wrap: wrap;
}

.nameBlock, .surnameBlock {
  flex-grow: 1;
}

.datetimeBlock {
  display: flex;
  flex-direction: row;
  column-gap: 30px; 
}

.commentBlock {
  max-height: 300px;
}

.booking {
  /* background-color: aquamarine; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bookingButton {
  width: fit-content;
  border: 1px solid;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.bookingButton:hover {
  box-shadow: 0px 0px 6px 3px rgba(90, 90, 90, 0.15);
}

input.invalid {
  border-color: red;
}

.bookingSuccessBlock {
  width: 100%;
}

.successText {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.invisible {
  display: none;
}