#root{
    width: 100%;
}

.userPage {
    /* min-width: 100%;
    min-height: 100vh; */
    height: 100vh;
    color: black;
    background-color:white;
    overflow: hidden;
    transition-duration: 1s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    margin-top: 80px;
}

.userIcon {
    height: 20vh;
    width: 20vh;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
}

.userName {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.jobInfo {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.restaurantName {
    margin-right: 5px;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.userButtons {
    margin: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

.userButton {
    background-color: white;
    width: fit-content;
    border: 1px solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  
  .userButton:hover {
    box-shadow: 0px 0px 6px 3px rgba(90, 90, 90, 0.15);
  }

.invisible {
    height: 0px;
    width: 0px;
    display: none;
  }